Repository decred/dcrdata, pull requests merged in 2018-06, with the labels that each got.

#481 Insight API broadcast_tx [17]
  api/insight/apimiddleware.go
  api/insight/apirouter.go
  api/insight/apiroutes.go
  main.go
  middleware/apimiddleware.go
Labels: insight API

#479 Insight API UTXO+ [10] [11] [12] [3] [4]
  api/insight/apimiddleware.go
  api/insight/apirouter.go
  api/insight/apiroutes.go
  api/types/insightapitypes.go
  db/dcrpg/insightapi.go
  db/dcrpg/internal/addrstmts.go
  db/dcrpg/queries.go
  db/dcrsqlite/apisource.go
  txhelpers/txhelpers.go
Labels: insight API

#483 Insight API - Misc cleanup [1], [2], [5], [5.1], [8], [8.1], [8.2], [9.1], [9.2], [9.3], [9.4]
  api/insight/apimiddleware.go
  api/insight/apirouter.go
  api/insight/apiroutes.go
  api/insight/converter.go
  api/types/insightapitypes.go
  db/dcrpg/insightapi.go
  db/dcrpg/internal/blockstmts.go
  db/dcrpg/queries.go
  middleware/apimiddleware.go
Labels: insight API

#506 Insight API [13] [14] [19] [20] [20.1] [20.2] [20.3] [20.4] [21] [21.1]
  api/insight/apimiddleware.go
  api/insight/apirouter.go
  api/insight/apiroutes.go
  api/types/insightapitypes.go
  stakedb/stakedb.go
Labels: insight API

#498 refactor home page and mempool javascript with stimulus (WIP)
  Gopkg.lock
  public/css/main.css
  public/js/controllers/main.js
  public/js/controllers/mempool.js
  public/js/humanize.js
  public/js/lodash.min.js
  public/js/messagesocket.js
  public/js/stimulus.umd.js
  views/address.tmpl
  views/block.tmpl
  views/explorer.tmpl
  views/extras.tmpl
  views/home.tmpl
  views/mempool.tmpl
  views/tx.tmpl
Labels: needs testing, ready to go

#465 stakedb: switch from storm to badger for ticket db
  .travis.yml
  Gopkg.lock
  Gopkg.toml
  api/apiroutes.go
  db/dcrpg/sync.go
  db/dcrsqlite/sync.go
  run_tests.sh
  stakedb/.gitignore
  stakedb/pooldiffs0.bdgr/000000.vlog
  stakedb/pooldiffs0.bdgr/000002.sst
  stakedb/pooldiffs0.bdgr/MANIFEST
  stakedb/pooldiffs0.db
  stakedb/stakedb.go
  stakedb/ticketpool.go
  stakedb/ticketpool_test.go
Labels: needs testing

#427 dcrpg: new adresses table format
  .gitignore
  README.md
  db/dbtypes/types.go
  db/dcrpg/internal/addrstmts.go
  db/dcrpg/internal/txstmts.go
  db/dcrpg/internal/vinoutstmts.go
  db/dcrpg/pgblockchain.go
  db/dcrpg/queries.go
  db/dcrpg/tables.go
  db/dcrsqlite/sync.go
  explorer/explorertypes.go
  main.go
  version/version.go
  views/address.tmpl
Labels: needs review, needs testing

#525 explorer: compute ticket matruity times in lite mode
  db/dcrsqlite/apisource.go
  explorer/explorerroutes.go
  explorer/explorertypes.go
  views/tx.tmpl
Labels: bug
